

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,dl,dt,dd,ol,ul,
li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}



.tmp{margin-bottom: 20px}
.container_jc{position:relative;margin:0 auto;max-width:1200px;}
.filters{padding:15px 20px;border: 1px solid #eaeaea;margin-bottom:30px;border-radius: 3px;}
.filter-item{margin-bottom:7px;padding:0 0 7px 70px;position:relative;border-bottom: 1px dashed #eaeaea;}
.filter-item:last-child{border-bottom: none;padding-bottom: 0;margin-bottom:0}
.filter-item>span{font-weight:600;position:absolute;left:0;top:5px}
.filter{display:inline-block;font-size: 14px;}
.filter a{display:inline-block;margin:5px;padding:1px 6px 0}
.filter a.active{background:#1d1d1d;color:#fff;border-radius:2px}
.filter a.active{background-color:#FF6651 !important;}

.grids{margin:0 -10px 20px;position:relative}
.grids.waterfall{display:block}
.grids .grid{width:285px;margin:0 10px 20px;float:left;background:#fff;box-shadow:0 0 15px rgba(0,0,0,0.075);position:relative;border-radius:3px;background-size: cover;background-position: center;transition: all .3s ease 0s;}
.grids .grid:hover{box-shadow:0 0 15px rgba(0,0,0,0.15);-webkit-transform: translateY(-3px);transform: translateY(-3px);}
.grids .grid.grid-tj:after{content:"推荐";position:absolute;right:10px;top:10px;background:#ff5f33;color:#fff;padding:2px 7px 3px;border-radius:2px;font-size:12px}
.grids .grid.grid-ts:before{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.3);content: "";border-radius:3px;}
.grids .grid .img{overflow: hidden;border-radius:3px 3px 0 0;position: relative;}
.grids .grid .img a{display: block;}
.grids .grid img{width:100%;height:180px;border-radius: 3px 3px 0 0;transition: all .3s ease-out 0s;}
.grids .grid img:hover{-webkit-transform: scale(1.03);transform: scale(1.03);transition: all .3s ease-out 0s;}
.grids .grid.grid-ts img{visibility: hidden;}
.grids.waterfall .grid img{height:auto !important}
.grids .grid h3{font-size:15px;font-weight:normal;margin:25px 10px 10px 10px;position:relative;color: black;height: 40px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.grids .grid h3 a{color:#333;}
.grids .grid h3 a:hover{color:#1d1d1d}
.cats a{color: blue;font-size: 13px;font-weight: 500;}
.grids .grid.grid-ts h3 a{color:#fff !important;}
.grids .grid p{padding:0px 10px 10px;margin:0;color:#999}
.grids .grid .grid-meta{color:#bbb;padding:0 10px 8px 10px;font-size:12px;height: 26px;overflow: hidden;}
.grids .grid.grid-ts .grid-meta{color:#fff;position:relative;}
.grids .grid .grid-meta .price{float:right;}
.grids .grid .grid-meta .downs, .grids .grid .grid-meta .time, .grids .grid .grid-meta .views, .grids .grid .grid-meta .comments, .grids .grid .grid-meta .favs{margin-right: 10px;}
.grids .grid .cats{padding:0 10px;font-size:12px;height:18px;overflow:hidden;margin-bottom: 5px;position:relative;}
.grids .grid.grid-ts .cats a{color:#fff;}

.posts {
    width:100%;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}
.post {
    margin-bottom:20px;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    color:#fff;
}
.pagination{
    padding:0 10px;
    margin: 0 0 30px;
    text-align: center;font-size:12px;display:block;border-radius:0;}
.excerpts .pagination{margin-bottom: 10px;}
.pagination ul{display:inline-block !important;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;padding:0}
.pagination ul > li{display:inline}
.pagination ul > li > a,.pagination ul > li > span{margin:0 2px;float:left;padding:5px 12px;background-color:#ddd;color:#666;border-radius:2px;opacity:.88}
.pagination ul > li > a:hover,.pagination ul > li > a:focus{opacity:1}
.pagination ul > .active > a,.pagination ul > .active > span{background-color:#1d1d1d;color:#fff}
.pagination ul > .active > a,.pagination ul > .active > span{cursor:default}
.pagination ul > li > span,.pagination ul > .disabled > span,.pagination ul > .disabled > a,.pagination ul > .disabled > a:hover,.pagination ul > .disabled > a:focus{color:#999999;background-color:transparent;cursor:default}
.pagination-trigger{padding:10px 15px;text-align:center;margin-bottom:20px}
.pagination-trigger a{margin:0 5px;display:inline-block;padding:8px 25px;text-decoration:none;background-color:#1d1d1d;color:#fff !important;border-radius:2px;opacity:.88}
.pagination-trigger a:hover{opacity:1}
.pagination-loading{font-size:16px;text-align:center;color:#999;padding:10px 15px;margin-bottom:20px}

.btn, .cat-nav li.current-menu-item a:after, .grids .grid.grid-tj:after,
.pagination ul > .active > a,.pagination ul > .active > span, .pagination-trigger a,
.erphpdown-box .down, .article-tags a:hover, .widget-erphpdown .down, .comt-submit,
.sign .captcha-clk, .btn-primary, .mocat .more a, .mocat h2:after, .filter a.active,
.mocat h2 i,.pagemenu li.current_page_item a{
    background-color:#FF6651 !important;
}
