{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/article_list.css">
{% endblock %}


{% block container %}
    <div class="tmp"></div>
    {% load static %}
    {% csrf_token %}
    <div class="container_jc">
        <div class="filters">
            <div class="filter-item">
                <span>信息类型</span>
                <div class="filter">
                    <a id="t" title="type" name="t" onclick="select_list('msg_type', this.name)">全部</a>
                    <a id="lfjz" title="type" name="lfjz" onclick="select_list('msg_type', this.name)">楼凤兼职</a>
                    <a id="xyzx" title="type" name="xyzx" onclick="select_list('msg_type', this.name)">洗浴中心</a>
                    <a id="jdhs" title="type" name="jdhs" onclick="select_list('msg_type', this.name)">酒店会所</a>
                    <a id="zyfl" title="type" name="zyfl" onclick="select_list('msg_type', this.name)">足浴发廊</a>
                    <a id="qq" title="type" name="qq" onclick="select_list('msg_type', this.name)">全国QQ群</a>
                    <a id="nmyz" title="type" name="nmyz" onclick="select_list('msg_type', this.name)">男模/鸭子</a>
                    <a id="jptj" title="type" name="jptj" onclick="select_list('msg_type', this.name)">精品推荐</a>
                    <a id="hdbg" title="type" name="hdbg" onclick="select_list('msg_type', this.name)">黑点曝光</a>
                </div>
            </div>
            <div class="filter-item">
                <span>省份</span>
                <div class="filter">
                    <a id="provice_0" title="provice" name="0" onclick="select_list('provice', this.name)">全部</a>
                    {% for pri in provinces %}
                        <a id="provice_{{ pri.id }}" title="provice" name="{{ pri.id }}" onclick="select_list('provice', this.name)">{{ pri.provices_name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% if cities.count > 0 %}
                <div class="filter-item">
                    <span>市/区</span>
                    <div class="filter">
                        <a id="city_0" title="city" name="0" onclick="select_list('city', this.name)">全部</a>
                        {% for city in cities %}
                            <a id="city_{{ city.id }}" title="city" name="{{ city.id }}" onclick="select_list('city', this.name)">{{ city.city_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="filter-item">
                <span>排序</span>
                <div class="filter">
                    <a id="publish" title="sort" name="publish" onclick="select_list('sort_type', this.name)">最新发布</a>
                    <a id="view" title="sort" name="view" onclick="select_list('sort_type', this.name)">浏览次数</a>
                    <a id="like" title="sort" name="like" onclick="select_list('sort_type', this.name)">点赞次数</a>
                    <a id="comment" title="sort" name="comment" onclick="select_list('sort_type', this.name)">评论次数</a>
                </div>
            </div>
        </div>
        <div id="posts" class="posts grids waterfall clearfix">
            {% for art in articles %}
                <div class="post grid">
                    <div class="img">
                        <a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}" title="{{ art.title }}" target="_blank" rel="bookmark">
{#                            <img src="{{ art.main_photo_path }}" class="thumb" alt="{{ art.title }}">#}
                            <img src="{% static art.main_photo_path %}" class="thumb" alt="{{ art.title }}">
                        </a>
                    </div>
                    <h3 itemprop="name headline">
                        【<a name="{{ art.article_type.article_type_alias_name }}" rel="tag" onclick="select_list('msg_type', this.name)">{{ art.article_type.article_type_name }}</a>】
                        <a itemprop="url" rel="bookmark" href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}" title="{{ art.title }}" target="_blank">{{ art.title }}</a>
                    </h3>
                    <div class="cats">
                        <a title="city" name="{{ art.city_id }}" onclick="select_list('city', this.name)">地区: {{ art.provinces.provices_name }} - {{ art.city.city_name }}</a>
                    </div>
                    <div class="grid-meta">
                        <span class="time">
                            <i class="dripicons dripicons-preview"></i>{{ art.create_time }}
                        </span>
                        <span class="views">
                            <i class="dripicons dripicons-preview"></i>{{ art.view_num }}
                        </span>
                        <span class="comments">
                            <i class="dripicons dripicons-message"></i>{{ art.comment_num }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <ul>
                {% if articles.has_previous %}
                    <li class="prev-page"><a onclick="go_page({{ articles.previous_page_number }})">上一页</a></li>
                {% endif %}

                {% for pg in articles.pages %}
                    {% if pg %}
                        {% ifequal pg articles.number %}
                            <li class="active"><a href="">{{ pg }}</a></li>
                        {% else %}
                            <li><a onclick="go_page({{ pg }})">{{ pg }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %} 
                {% endfor %}
                

                {% if articles.has_next %}
                    <li class="next-page"><a onclick="go_page({{ articles.next_page_number }})">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block footer %}
    <script type="text/javascript">
    var view_type = '{{ view_type }}',
        article_type = '{{ article_type }}',
        provice_id = 'provice_' + '{{ provice_id }}',
        city_id = 'city_' + '{{ city_id }}';
    var arr_view = document.getElementById(view_type);
    var arr_article = document.getElementById(article_type);
    var arr_provice = document.getElementById(provice_id);
    arr_view.classList.add("active");
    arr_article.classList.add("active");
    arr_provice.classList.add("active");
    if (city_id != 'city_0'){
        var arr_city = document.getElementById(city_id);
        arr_city.classList.add("active");
    }else{
        var arr_city = document.getElementById("city_0");
        if (arr_city != null) {
            arr_city.classList.add("active");
        }
    }
    </script>
    <script src="/static/js/article_list.js"></script>
{% endblock %}
