{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}

{% block container %}
    <div class="page-container">
        <div class="container">
            <div class="cat-nav-wrap">
                <ul class="cat-nav1">
                    <li>
                        <a href="/publish/t">最新发布</a>
                    </li>
                    <li>
                        <a href="/publish/lfjz">楼凤兼职</a>
                    </li>
                    <li>
                        <a href="/publish/xyzx">洗浴中心</a>
                    </li>
                    <li>
                        <a href="/publish/jdhs">酒店会所</a>
                    </li>
                    <li>
                        <a href="/publish/zyfl">足浴发廊</a>
                    </li>
                    <li>
                        <a href="/publish/hdbg">黑店曝光</a>
                    </li>
                    <li>
                        <a href="/publish/jptj">精品推荐</a>
                    </li>
                    <li>
                        <a href="/publish/qq">全国QQ群</a>
                    </li>
                    <li>
                        <a href="/publish/nmyz">男模/鸭子</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="span3">
                    <div class="city-inbox city-line">
                        <div class="hd">东北华北</div>
                        <div class="bd">
                            <ul class="city-inlist clearfix">
                                {% for foo in dongbei_huabei %}
                                    <li><a href="/publish/t/provice/{{ foo.id }}">{{ foo.provices_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="span3 articles-list">
                    <div class="city-inbox city-line">
                        <div class="hd">华中华东</div>
                        <div class="bd">
                            <ul class="city-inlist clearfix">
                                {% for foo in huazhong_huadong %}
                                    <li><a href="/publish/t/provice/{{ foo.id }}">{{ foo.provices_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="span3 articles-list">
                    <div class="city-inbox city-line">
                        <div class="hd">西北西南</div>
                        <div class="bd">
                            <ul class="city-inlist clearfix">
                                {% for foo in xibei_xinan %}
                                    <li><a href="/publish/t/provice/{{ foo.id }}">{{ foo.provices_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="span3 articles-list">
                    <div class="city-inbox city-line">
                        <div class="hd">华南其他</div>
                        <div class="bd">
                            <ul class="city-inlist clearfix">
                                {% for foo in huanan_qita %}
                                    <li><a href="/publish/t/provice/{{ foo.id }}">{{ foo.provices_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">
                    <!-- Basic Home Page Template -->
                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3><a href="/like/t">点赞最多</a></h3>
                            <ul class="articles">
                                {% for top_art in top_like_article %}
                                    {% if top_art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ top_art.provinces_id }}/city/{{ top_art.city_id }}/article_page/{{ top_art.id }}">{{ top_art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ top_art.create_time }}
                                            <a href="/publish/t/provice/{{ top_art.provinces_id }}/city/0">{{ top_art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ top_art.provinces_id }}/city/{{ top_art.city_id }}">{{ top_art.city.city_name }}</a>
                                            {% if top_art.article_type.article_type_name == "楼凤兼职" %}
                                                <a href="/publish/lfjz">
                                            {% elif top_art.article_type.article_type_name == "精品推荐" %}
                                                <a href="/publish/jptj">
                                            {% elif top_art.article_type.article_type_name == "洗浴中心" %}
                                                <a href="/publish/xyzx">
                                            {% elif top_art.article_type.article_type_name == "酒店会所" %}
                                                <a href="/publish/jdhs">
                                            {% elif top_art.article_type.article_type_name == "足浴发廊" %}
                                                <a href="/publish/zyfl">
                                            {% elif top_art.article_type.article_type_name == "全国QQ群" %}
                                                <a href="/publish/qq">
                                            {% elif top_art.article_type.article_type_name == "男模/鸭子" %}
                                                <a href="/publish/nmyz">
                                            {% else %}
                                                <a href="/publish/hdbg">
                                            {% endif %}
                                                {{ top_art.article_type.article_type_name }}
                                            </a>
                                        </span>
                                        <span class="like-count">{{ top_art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="span4 articles-list">
                            <h3><a href="/publish/t">最新发布</a></h3>
                            <ul class="articles">
                                {% for top_art in top_create_article %}
                                    {% if top_art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ top_art.provinces_id }}/city/{{ top_art.city_id }}/article_page/{{ top_art.id }}">{{ top_art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ top_art.create_time }}
                                            <a href="/publish/t/provice/{{ top_art.provinces_id }}/city/0">{{ top_art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ top_art.provinces_id }}/city/{{ top_art.city_id }}">{{ top_art.city.city_name }}</a>
                                            {% if top_art.article_type.article_type_name == "楼凤兼职" %}
                                                <a href="/publish/lfjz">
                                            {% elif top_art.article_type.article_type_name == "精品推荐" %}
                                                <a href="/publish/jptj">
                                            {% elif top_art.article_type.article_type_name == "洗浴中心" %}
                                                <a href="/publish/xyzx">
                                            {% elif top_art.article_type.article_type_name == "酒店会所" %}
                                                <a href="/publish/jdhs">
                                            {% elif top_art.article_type.article_type_name == "足浴发廊" %}
                                                <a href="/publish/zyfl">
                                            {% elif top_art.article_type.article_type_name == "全国QQ群" %}
                                                <a href="/publish/qq">
                                            {% elif top_art.article_type.article_type_name == "男模/鸭子" %}
                                                <a href="/publish/nmyz">
                                            {% else %}
                                                <a href="/publish/hdbg">
                                            {% endif %}
                                                {{ top_art.article_type.article_type_name }}
                                            </a>
                                        </span>
                                        <span class="like-count">{{ top_art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>

                    <div class="row home-listing-area">
                        <div class="span8">
                            <h2>分类</h2>
                        </div>
                    </div>

                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3><a href="/publish/lfjz">楼凤兼职</a></h3>
                            <ul class="articles">
                                {% for art in loufeng %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="span4 articles-list">
                            <h3><a href="/publish/jptj">精品推荐</a></h3>
                            <ul class="articles">
                                {% for art in bast_art %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>

                    <div class="row separator">

                        <section class="span4 articles-list">
                            <h3><a href="/publish/xyzx">洗浴中心</a></h3>
                            <ul class="articles">
                                {% for art in xiyu %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="span4 articles-list">
                            <h3><a href="/publish/jdhs">酒店会所</a></h3>
                            <ul class="articles">
                                {% for art in jiuduan %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice={{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>

                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3><a href="/publish/zyfl">足浴发廊</a></h3>
                            <ul class="articles">
                                {% for art in zuyu %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <section class="span4 articles-list">
                            <h3><a href="/publish/qq">全国QQ群</a></h3>
                            <ul class="articles">
                                {% for art in qq_art %}
                                    {% if art.main_photo_path == "/" %}
                                        <li class="article-entry standard">
                                    {% else %}
                                        <li class="article-entry image">
                                    {% endif %}
                                        <h4><a href="/provice/{{ art.provinces_id }}/city/{{ art.city_id }}/article_page/{{ art.id }}">{{ art.title }}</a></h4>
                                        <span class="article-meta">
                                            {{ art.create_time }}
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/0">{{ art.provinces.provices_name }}-</a>
                                            <a href="/publish/t/provice/{{ art.provinces_id }}/city/{{ art.city_id }}">{{ art.city.city_name }}</a>
                                        </span>
                                        <span class="like-count">{{ art.like_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->


                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">会员</h3>
                            <a href="#"> 登录</a> /
                            <a href="#"> 注册</a>
                        </div>
                    </section>

                    <section class="widget">
                        <h3 class="title">Tags</h3>
                        <div class="tagcloud">
                            <a href="#" class="btn btn-mini">basic</a>
                            <a href="#" class="btn btn-mini">beginner</a>
                            <a href="#" class="btn btn-mini">blogging</a>
                            <a href="#" class="btn btn-mini">colour</a>
                            <a href="#" class="btn btn-mini">css</a>
                            <a href="#" class="btn btn-mini">date</a>
                            <a href="#" class="btn btn-mini">design</a>
                            <a href="#" class="btn btn-mini">files</a>
                            <a href="#" class="btn btn-mini">format</a>
                            <a href="#" class="btn btn-mini">header</a>
                            <a href="#" class="btn btn-mini">images</a>
                            <a href="#" class="btn btn-mini">plugins</a>
                            <a href="#" class="btn btn-mini">setting</a>
                            <a href="#" class="btn btn-mini">templates</a>
                            <a href="#" class="btn btn-mini">theme</a>
                            <a href="#" class="btn btn-mini">time</a>
                            <a href="#" class="btn btn-mini">videos</a>
                            <a href="#" class="btn btn-mini">website</a>
                            <a href="#" class="btn btn-mini">wordpress</a>
                        </div>
                    </section>

                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>
{% endblock %}